<p>
  <b>Insured name:</b>
  <%=h @search_entities.insured_name %>
</p>

<p>
  <b>Entity1:</b>
  <%=h @search_entities.entity1 %>
</p>

<p>
  <b>Entity2:</b>
  <%=h @search_entities.entity2 %>
</p>

<p>
  <b>Entity3:</b>
  <%=h @search_entities.entity3 %>
</p>

<p>
  <b>Entity4:</b>
  <%=h @search_entities.entity4 %>
</p>

<p>
  <b>Entity5:</b>
  <%=h @search_entities.entity5 %>
</p>

<p>
  <b>Entity6:</b>
  <%=h @search_entities.entity6 %>
</p>

<p>
  <b>Entity7:</b>
  <%=h @search_entities.entity7 %>
</p>

<p>
  <b>Entity8:</b>
  <%=h @search_entities.entity8 %>
</p>

<p>
  <b>Entity9:</b>
  <%=h @search_entities.entity9 %>
</p>

<p>
  <b>Entity10:</b>
  <%=h @search_entities.entity10 %>
</p>


<%= link_to 'Edit', edit_search_entities_path(@search_entities) %> |
<%= link_to 'Back', search_entities_path %>
