<h1>Editing error_log</h1>

<%= error_messages_for :error_log %>

<% form_for(@error_log) do |f| %>
  <p>
    <b>Quote</b><br />
    <%= f.text_field :quote_id %>
  </p>

  <p>
    <b>Error desc</b><br />
    <%= f.text_field :error_desc %>
  </p>

  <p>
    <b>Error name</b><br />
    <%= f.text_field :error_name %>
  </p>

  <p>
    <b>Error source</b><br />
    <%= f.text_field :error_source %>
  </p>

  <p>
    <b>Error type</b><br />
    <%= f.text_field :error_type %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @error_log %> |
<%= link_to 'Back', error_logs_path %>
