<h1>Editing group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_code %><br />
    <%= f.text_field :group_code %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :editable %><br />
    <%= f.text_field :editable %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>